<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit post</title>
</head>
<body>
    <form method="post" action="/post/edit">
        <input hidden name="postId" th:value="${post.id}">
        <label for="postTitle">Title</label>
        <input id="postTitle" name="postTitle" th:value="${post.title}" type="text">

        <label for="postBody">Title</label>
        <input id="postBody" name="postBody" th:value="${post.body}" type="text">

        <input type="submit" name="submitPost">
    </form>

</body>
</html>