<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit post</title>
</head>
<body>
<form action="" th:action="@{/posts/{id}/edit(id=${id})}" method="post" th:object="${post}">
        <label for="postTitle">Title</label>
        <input id="postTitle" name="postTitle" th:field="*{title}" th:value="*{title}" type="text">

        <label for="postBody">Title</label>
        <input id="postBody" name="postBody" th:field="*{body}" th:value="*{body}" type="text">

        <input type="submit" name="submitPost">
    </form>

</body>
</html>