<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Single Post</title>
</head>
<body>
    <h3 th:text="${post.title}"/>
    <p th:text="${post.body}" />
    <p th:text="${post.user.email}" />
    <br/>
    <div th:if="${isPostOwner}">
        <form th:action="@{/posts/delete/{id}(id = ${post.id})}" method="post">
            <button>Delete Post</button>
        </form>
        <form th:action="@{/posts/{id}/edit(id = ${post.id})}">
            <button>Edit Post</button>
        </form>
    </div>
</body>
</html>